<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="center" style="margin-top: 50px;" ng-controller="bookController">
        <div style="margin-top: 10px; margin-left: 90%;">
            <span id="memberName" style="margin-right: 5px;"></span>
            <button type="button" id="search" class="btn btn-primary" ng-click="logout()">Logout</button>
        </div>

        <div class="input-group" style="width: 350px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="query" type="text" class="form-control" ng-model="query" name="query" placeholder="검색어">
        </div>

        <div style="width: 500px; margin-top: 30px;">
            <button type="button" id="search" class="btn btn-primary" ng-click="search()">Search</button>
            <button type="button" class="btn btn-primary" ng-click="goHistories()">Search Histories</button>
        </div>

        <div>
            <table class="table" style="margin-top: 50px;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">정가</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="book in books track by $index">
                    <td> {{ $index + 1 }}</td>
                    <td> <u ng-click="showDetail($index + 1)" style="cursor: pointer"> {{ book.title }} </u> </td>
                    <td> {{ book.contents }}</td>
                    <td> {{ book.price }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>