<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="center" style="margin-top: 100px;" ng-controller="bookHistoryController">

    <div style="float: left; margin-left: 10px;">
        <button type="button" class="btn btn-primary" ng-click="delete()">삭제</button>
        <button type="button" class="btn btn-primary" ng-click="back()">돌아가기</button>
    </div>

    <div>
        <div style="float: right; margin-right: 10px;">
            <select class="form-control" id="sort">
                <option value="none">정렬 기준</option>
                <option value="query">검색어</option>
                <option value="datetime">시간</option>
            </select>
        </div>
        <table class="table" style="margin-top: 10px;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">검색 내용</th>
                <th scope="col">검색 시간</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="searchHistory in searchHistories">
                    <td><input type="checkbox" id="{{ searchHistory.id }}"></td>
                    <td> {{ searchHistory.query }} </td>
                    <td> {{ searchHistory.datetime }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</html>