<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="center" ng-controller="detailController" style="width: 100%;">
        <h3 class="modal-title"> {{ detail.title }} </h3>
        <button type="button" id="bookmarking" class="btn btn-primary" ng-click=" bookmarking()"> 북마크하기</button>

        <table class="table" style="margin-top: 10px;">
            <tbody>
                <tr>
                    <td bgcolor="#f0f8ff"> 도서 제목 </td>
                    <td id="title"> {{ detail.title }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 책 링크 (URL) </td>
                    <td id="url"> {{ detail.url }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 소개 </td>
                    <td id="contents" colspan="3"> {{ detail.contents }} </td>
                </tr>

                <tr class="table-primary">
                    <td bgcolor="#f0f8ff"> ISBN 번호 </td>
                    <td id="isbn"> {{ detail.isbn }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 출판 날짜 </td>
                    <td id="datetime"> {{ detail.datetime }} </td>
                </tr>

                <tr class="table-primary">
                    <td bgcolor="#f0f8ff"> 도서 저자 리스트 </td>
                    <td id="authors"> {{ detail.authors }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 번역자 리스트 </td>
                    <td id="translators"> {{ detail.translators }} </td>
                </tr>

                <tr class="table-primary">
                    <td bgcolor="#f0f8ff"> 도서 정가 </td>
                    <td id="price"> {{ detail.price }} 원 </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 판매가 </td>
                    <td id="salePrice"> {{ detail.salePrice }} 원 </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 판매 여부 </td>
                    <td id="saleYn"> {{ detail.saleYn }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 카테고리 정보 </td>
                    <td id="category"> {{ detail.category }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 표지 썸네일 </td>
                    <td id="thumbnail"> <img ng-src="{{ detail.thumbnail }}"> </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 바코드 </td>
                    <td id="barcode"> {{ detail.barcode }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 교보문고 전자책 바코드 정보 </td>
                    <td id="ebookBarcode"> {{ detail.ebookBarcode }} </td>
                </tr>

                <tr>
                    <td bgcolor="#f0f8ff"> 도서 상태 정보 </td>
                    <td id="status"> {{ detail.status }} </td>
                </tr>
            </tbody>
        </table>
        <button id="ok" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</body>
</html>