<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- create angular app -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">

    <!-- jqGrid -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.4/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.4/jquery.jqgrid.min.js"></script>

    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/center.css">

    <!-- app (router) -->
    <script type="text/javascript" src="/js/app/app.js"></script>

    <!-- angular controllers -->
    <script type="text/javascript" src="/js/controller/loginController.js"></script>
    <script type="text/javascript" src="/js/controller/modifyController.js"></script>
    <script type="text/javascript" src="/js/controller/signinController.js"></script>
    <script type="text/javascript" src="/js/controller/bookController.js"></script>
    <script type="text/javascript" src="/js/controller/bookHistoryController.js"></script>
    <script type="text/javascript" src="/js/controller/detailController.js"></script>
    <script type="text/javascript" src="/js/controller/bookmarkController.js"></script>

    <!-- common -->
    <script type="text/javascript" src="/js/common/commonRequestPromise.js"></script>

    <!-- objects -->
    <script type="text/javascript" src="/js/book/book.js"></script>
    <script type="text/javascript" src="/js/book/bookHistory.js"></script>
    <script type="text/javascript" src="/js/book/bookmarks.js"></script>
    <script type="text/javascript" src="/js/account/login.js"></script>
    <script type="text/javascript" src="/js/account/signin.js"></script>
    <script type="text/javascript" src="/js/account/modify.js"></script>
    <script type="text/javascript" src="/js/book/pagination.js"></script>
</head>
    <body>
        <div ng-app="app">
            <a href="/"></a>
            <ng-view></ng-view>
        </div>
    </body>
</html>